*{
    padding: 0;
    margin: 0;
    color: aliceblue;
}

header{
    background-color: orange;
    height: 50px;
    width: 90%;
    text-align: center;
    text-shadow: 5px 5px 10px rgb(185, 122, 6);
    padding: .5rem;
    margin-left: auto;
    margin-right: auto;
}

ul{
    list-style: none;
}

.inside{
    background-color: orange;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.main-container{
    justify-content: center;
}

aside{
    width: 40%;
    margin: 5px;
    padding: 1rem;
}

p{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: block;
}

p:hover{
    background-color: rgb(240, 189, 95);
    text-shadow: 5px 5px 10px rgb(185, 122, 6);
    font-size: 30px;
}

.izquierda{
    float: left;
}

.derecha{
    float: right;
}

footer{
    background-color: orange;
    width: 100%;
    height: fit-content;
    bottom: 0%;
    position: absolute;
}

#nombre{
    font-size: 18px;
    float: left;
    padding: 8px;
}

#grupo{
    font-size: 18px;
    float: right;
    padding: 8px;
}